<%= content_for :title, t('login') %>

<div class="login_container">
  <h1 style="font-size: 30px; color: #4e4e51;"><%= t('reception') %></h1>

  <div style="text-align: center; font-size: 14px;">
    <%= t('is_account') %>
    <%= link_to t('sign_up'), new_user_registration_path, style: "text-decoration: underline; color: #4e4e51; font-weight: 700;" %>
  </div>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>  
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div style="<%= form_container_styles %>">
      <%= render "shared/form_group", f: f, field: :login, label_text: t('user_email') do %>
        <%= f.text_field :login, autofocus: true, style: "width: 100%;" %>
      <% end %>

      <%= render "shared/form_group", f: f, field: :password, label_text: t('password') do %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      <% end %>

      <div style="text-align: center; font-size: 14px;">
        <%= t('forgot') %>
        <%= link_to t('reset'), new_user_password_path, style: "text-decoration: underline; color: #4e4e51; font-weight: 700;" %>
      </div>

      <%= render "shared/form_buttons", f: f, button_text: t('login') %>
    </div>
  <% end %>
</div>
